<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/static/css/formulario.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <div class="body_form">
        <form action="" class="formulario">
            <div class="titulo">
                    <h1>Datos del paseador</h1>
                </div>
        <div class="datos">
            <div class="row">
                {{ form.nombre }}
                {{ form.apellido }}
            </div>
            <div class="row">
                {{ form.direccion }}
                {{ form.distrito }}
                <input type="text" placeholder="Dirección">
                <input type="text" placeholder="Distrito">
            </div>
            <div class="row">
                {{ form.telefono }}
                {{ form.dni }}
                <input type="text" placeholder="Telefono">
                <input type="text" placeholder="DNI">
            </div>
            <div class="row">
                {{ form.Experiencia }}
                {{ form.Edad }}
                <input type="text" placeholder="Experiencia">
                <input type="text" placeholder="Edad">
            </div>
            <div class="row_foto">
                <p>¿ Podemos verte ?</p>
                {{ form.foto }}
            </div>
            <div class="row">
                <button>Enviar</button>
                <button type="reset">Limpiar</button>
            </div>
        </div>
        </form>
    </div>
</body>
</html>